<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mongo</title>
    <script src="http://cdn.tailwindcss.com"></script>
    <script defer src="./login.js"></script>
  </head>
  <body
    class="bg-gradient-to-b from-[#FFA334] flex flex-col py-5 justify-center items-center to-[#FF7213]"
  >
    <h1 class="text-2xl font-bold text-center">Login Page</h1>
    <form
      action=""
      id="login-form"
      class="bg-white md:p-[5rem] w-fit rounded-lg p-[2rem] mt-8 mx-2"
    >
      <!-- Login page -->

      <div class="flex flex-col">
        <label class="mb-2 font-semibold text-xl" for="">Username</label>
        <input
          class="w-full rounded-xl mb-4 px-8 pb-2 border-4 border-[#FFA334] pt-2 outline-none"
          type="text"
          id="userName"
        />
      </div>

      <div class="flex flex-col">
        <label class="mb-2 font-semibold text-xl" for="">Password</label>
        <input
          class="w-full rounded-xl mb-4 px-8 pb-2 border-4 border-[#FFA334] pt-4 outline-none"
          type="password"
          id="password"
        />
      </div>

      <div class="flex flex-col items-center">
        <button
          class="bg-[#FF7213] mb-[10px] hover:bg-slate-400 mt-[3rem] w-[15rem] py-4 rounded-full"
        >
          Login
        </button>
        <div class="flex text-lg font-bold flex-col md:flex-row">
          <h3>Don't have an account ?</h3>
          <a class="text-[#FF7213] hover:text-slate-400" href="./signUp.html"
            >Register here</a
          >
        </div>
      </div>
    </form>
  </body>
</html>
